.book-page {
  background-color: #f5f5f5;
  padding: 25px 0 0; }
  .book-page__head {
    font-family: "Lato";
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 25px 0;
    height: auto; }
    .book-page__head p {
      margin: 0 10px 0 0; }
  .book-page__search {
    display: flex;
    margin-bottom: 43px; }
    .book-page__search-button {
      width: fit-content;
      display: flex;
      align-items: center; }
      .book-page__search-button img {
        width: 10px;
        height: 10px;
        margin-right: 3px; }
      .book-page__search-button p {
        margin: 0;
        white-space: nowrap; }
  .book-page__item {
    margin-bottom: 50px; }
    .book-page__item-image {
      max-width: 255px;
      height: 340px;
      margin-bottom: 25px; }
    .book-page__item-label {
      font-size: 15px;
      line-height: 24px;
      font-family: "Lato";
      font-weight: bold;
      margin-bottom: 0; }
    .book-page__item-price {
      color: #fc5226;
      font-family: "Lato";
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      display: flex;
      align-items: flex-start; }
      .book-page__item-price small {
        display: inline-block;
        line-height: 15px; }
  .book-page__card {
    width: 270px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 33px; }
    .book-page__card__header {
      background-color: #18a05f;
      color: #fff;
      font-size: 15px;
      line-height: 35px;
      font-family: "Lato";
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding: 10px 0;
      border-radius: 10px 10px 0 0; }
    .book-page__card__body {
      padding: 15px; }
      .book-page__card__body ul,
      .book-page__card__body li {
        list-style: none;
        padding: 0; }
        .book-page__card__body ul p,
        .book-page__card__body li p {
          font-size: 15px;
          font-family: "Lato";
          font-weight: regular;
          line-height: 30px; }
    .book-page__card__item {
      margin-bottom: 15px; }
      .book-page__card__item:not(:first-child) {
        padding-top: 15px !important;
        border-top: 1px solid #ececec; }
      .book-page__card__item__container {
        display: flex; }
      .book-page__card__item__left {
        height: 64px;
        margin-right: 8px; }
        .book-page__card__item__left img {
          height: 100%; }
      .book-page__card__item__right .card-item-label {
        font-family: "Lato";
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px; }
      .book-page__card__item__right .card-item-price {
        color: #fc5226;
        font-family: "Lato";
        font-size: 15px;
        line-height: 24px;
        font-weight: bold;
        display: flex;
        align-items: flex-start;
        margin-bottom: 0; }
        .book-page__card__item__right .card-item-price small {
          display: inline-block;
          line-height: 15px; }
  .book-page__detail {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    height: 98%; }
    .book-page__detail__header {
      margin-bottom: 77px; }
    .book-page__detail__image {
      display: flex; }
  .book-page__sub-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px; }
    .book-page__sub-image .retangle-up,
    .book-page__sub-image .retangle-down {
      width: 16px;
      height: 8px;
      margin: 0 auto;
      cursor: pointer; }
    .book-page__sub-image__item {
      width: 82px;
      height: 116px;
      cursor: pointer; }
  .book-page__main-image {
    width: 272px;
    height: 385px; }
    .book-page__main-image img {
      width: 100%;
      height: 100%; }
  .book-page__name {
    font-size: 17px;
    line-height: 28px;
    font-family: "Lato";
    font-weight: bold; }
  .book-page__detail-price {
    color: #fc5226;
    font-family: "Lato";
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px; }
    .book-page__detail-price small {
      display: inline-block;
      line-height: 15px; }
  .book-page__authen {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 13px;
    line-height: 24px;
    font-family: "Lato";
    margin-bottom: 25px; }
    .book-page__authen p {
      margin: 0; }
  .book-page__quantity {
    display: flex;
    align-items: center;
    margin-bottom: 25px; }
    .book-page__quantity p {
      font-family: "Lato";
      font-weight: bold;
      font-size: 15px;
      line-height: 24px;
      margin: 0 10px 0 0; }
    .book-page__quantity-input {
      width: 120px;
      padding-left: 50px; }
    .book-page__quantity-container {
      position: relative; }
      .book-page__quantity-container button {
        position: absolute; }
      .book-page__quantity-container .button-add {
        top: 0px;
        right: 0px;
        background: #fff;
        border-top: 1px solid #c4c4c4;
        border-right: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        border-top-left-radius: 0; }
  .book-page__group-button {
    display: flex; }
  .book-page__buy-now {
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase; }
  .book-page__add-cart {
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    line-height: 18px; }
    .book-page__add-cart img {
      margin-right: 3px; }
  .book-page__body .nav-tabs {
    border-bottom: 1px solid #c4c4c4; }
  .book-page__body .nav-item .nav-link {
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    font-family: "Lato";
    color: #262626; }
  .book-page__body .nav-item .active {
    border-bottom: 3px solid #18a05f; }
  .book-page__description {
    padding-top: 30px;
    font-size: 15px;
    font-family: "Lato";
    line-height: 24px;
    margin-bottom: 45px; }
  .book-page__table-content__title {
    font-size: 25px;
    font-family: "Lato";
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 25px; }
  .book-page__table-content ul,
  .book-page__table-content li {
    list-style: none;
    padding: 0; }
  .book-page__table-content__item p {
    font-size: 15px;
    font-family: "Lato";
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 20px; }
  .book-page__ref-title {
    font-size: 36px;
    font-family: "Montserrat";
    line-height: 44px;
    font-weight: bold;
    margin-bottom: 20px; }

.social {
  background-color: #f9f9f9; }
  .social__content {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .social__title {
    max-width: 386px;
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    text-transform: uppercase; }
  .social__text {
    font-family: "Lato";
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    max-width: 550px; }
  .social__container {
    display: flex;
    flex-wrap: wrap; }
    .social__container img {
      width: 270x;
      height: 240px; }
