.software-page__content {
  overflow-x: hidden; }

.banner-huongdan {
  position: relative;
  min-height: 200px; }
  .banner-huongdan .banner {
    width: 100%; }
  .banner-huongdan .text-caption {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center; }
    .banner-huongdan .text-caption h1 {
      font-size: 2.2em;
      font-weight: 900;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      margin-top: 30px;
      margin-bottom: 40px; }
    .banner-huongdan .text-caption button {
      margin: 0px 10px; }
    .banner-huongdan .text-caption .btn-download {
      color: #0c9051;
      background: #fff; }
    .banner-huongdan .text-caption .btn-contact {
      background-color: transparent !important;
      border: 1px solid #fff; }

#help_content {
  font-family: "Lato", sans-serif;
  margin: 2em 0px; }
  #help_content .box-shadow {
    background-color: #fff;
    box-shadow: 0 1px 1.2px rgba(145, 145, 145, 0.034), 0 1px 2.3px rgba(116, 116, 116, 0.048), 0 1px 5px rgba(121, 121, 121, 0.06), 0 1.3px 7.9px rgba(97, 97, 97, 0.072), 0 2.8px 3.4px rgba(170, 170, 170, 0.086), 0 2px 5px rgba(122, 122, 122, 0.02);
    border-radius: 8px; }
  #help_content .group-left {
    margin-bottom: 15px; }
    #help_content .group-left button {
      padding: 12px 15px;
      font-weight: 600;
      font-size: 14px;
      position: relative; }
      #help_content .group-left button img {
        position: absolute;
        right: 15px; }
      #help_content .group-left button.btn-active {
        color: #FFF;
        background: #18A05F; }
        #help_content .group-left button.btn-active img {
          display: none; }
    #help_content .group-left .ul_soft {
      display: none; }
      #help_content .group-left .ul_soft ul {
        padding: 15px 0px;
        margin: 0px; }
        #help_content .group-left .ul_soft ul li {
          list-style: none; }
          #help_content .group-left .ul_soft ul li img {
            margin-right: 10px; }
          #help_content .group-left .ul_soft ul li a {
            display: flex;
            align-items: center;
            padding: 5px 0px;
            width: 100%;
            color: #707070;
            transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out; }
            #help_content .group-left .ul_soft ul li a:hover {
              color: #18A05F; }
  #help_content .box-content {
    padding: 20px; }
    #help_content .box-content h1 {
      font-size: 1.04vw;
      font-weight: 600; }
    #help_content .box-content strong {
      font-size: 17px;
      padding-bottom: 5px;
      display: inline-block; }
    #help_content .box-content .image {
      margin-bottom: 3em; }
    #help_content .box-content .clip {
      font-weight: 600;
      color: #262626; }
    #help_content .box-content .text-origan {
      font-weight: 600;
      color: #ff5722; }
  #help_content .conent-other {
    margin-top: 2em;
    background-color: #fff;
    box-shadow: 0 1px 1.2px rgba(145, 145, 145, 0.034), 0 1px 2.3px rgba(116, 116, 116, 0.048), 0 1px 5px rgba(121, 121, 121, 0.06), 0 1.3px 7.9px rgba(97, 97, 97, 0.072), 0 2.8px 3.4px rgba(170, 170, 170, 0.086), 0 2px 5px rgba(122, 122, 122, 0.02);
    border-radius: 8px;
    overflow: hidden; }
    #help_content .conent-other h1 {
      font-size: 1.04vw;
      font-weight: 600;
      color: #fff;
      background-color: #18A05F;
      padding: 20px;
      margin-bottom: 0px; }
    #help_content .conent-other .content ul {
      padding: 0px;
      margin: 0px; }
      #help_content .conent-other .content ul li {
        list-style: none;
        border-bottom: 1px solid #ececec; }
        #help_content .conent-other .content ul li a {
          display: inline-block;
          width: 100%;
          padding: 10px;
          color: #262626;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out; }
          #help_content .conent-other .content ul li a:hover {
            color: #18A05F; }
  #help_content .title_stle {
    padding: 12px 20px;
    background: #efefef;
    margin-bottom: 20px;
    font-weight: 600; }
    #help_content .title_stle img {
      padding-right: 10px; }
  #help_content .content_text ul {
    padding: 0px;
    margin: 0px;
    margin-bottom: 12px; }
    #help_content .content_text ul li {
      list-style: none;
      position: relative; }
      #help_content .content_text ul li a {
        display: inline-block;
        padding: 4px 10px;
        color: #262626;
        padding-left: 20px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        width: 100%; }
        #help_content .content_text ul li a:hover {
          color: #18A05F; }
      #help_content .content_text ul li:after {
        content: "";
        position: absolute;
        left: 0;
        top: 11px;
        width: 10px;
        height: 10px;
        background: url("../images/icon/dot.svg") center center no-repeat;
        border-radius: 50%; }
  #help_content .content-video {
    margin-bottom: 20px; }
    #help_content .content-video .col-md-4 .content {
      border-radius: 10px;
      border: 1px solid #ececec;
      overflow: hidden;
      position: relative; }
      #help_content .content-video .col-md-4 .content:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        bottom: 0;
        background-image: url("../images/icon/icon_youtube.svg");
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: center center; }
      #help_content .content-video .col-md-4 .content:hover:after {
        background-color: rgba(0, 0, 0, 0.2); }
      #help_content .content-video .col-md-4 .content img {
        width: 100%; }
  #help_content .click-other {
    color: #18A05F; }

.min-w150 {
  min-width: 150px;
  padding-bottom: 10px; }
  .min-w150 i {
    font-size: 11px;
    display: inline-block;
    margin-left: 5px; }

.list-post__item {
  padding: 5px !important; }

.section-update .list-post__item__right p {
  margin-bottom: 0px; }

.section-update .list-post__item__right h2 {
  margin-bottom: 0px;
  margin-top: 10px; }

.bg-footer a {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; }
  .bg-footer a:hover {
    color: #9CDFBF !important; }

.user_login span {
  position: relative;
  display: inline-block; }
  .user_login span .premium {
    right: -7px;
    position: absolute;
    bottom: -1px;
    width: 19px; }

.software-page__content__box {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer; }

.software-page__content__box .more {
  display: inline-block; }

.software-page__content__box .more-detail {
  display: none; }

.software-page__content__box:hover {
  box-shadow: 0px 2px 6px 4px rgba(111, 107, 107, 0.24);
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  background-color: #f5f5f5; }
  .software-page__content__box:hover .more-detail {
    display: inline-block; }
  .software-page__content__box:hover .more {
    display: none; }

.software-page__content h2 {
  line-height: 25px; }

#library .col-post_other .content .view-port span {
  display: inline-block;
  padding-left: 17px;
  position: relative; }
  #library .col-post_other .content .view-port span img {
    position: absolute;
    left: 0;
    top: 4px; }
  #library .col-post_other .content .view-port span:first-child {
    margin-right: 5px; }

.comment-text {
  font-style: italic;
  color: #770381; }

#library .content-text h2 {
  margin-bottom: 0px;
  font-size: 1.4em;
  font-family: inherit; }
  #library .content-text h2::after {
    display: none; }

#library .content-text h3 {
  font-size: 1.2em;
  font-weight: 600; }

#library .text-show_content h2, #library .text-show_content h1 {
  font-weight: normal;
  font-size: 1rem; }

#help_content .group-left .ul_soft ul li a.active {
  color: #18A05F; }

.user-ketcausoft .section-moment__wrap-image {
  margin: 0px auto; }

.list-post-same.user-manual__left h3 {
  font-size: 16px; }

.no-resuft {
  display: flex;
  justify-content: center;
  align-items: center; }

.banner_daotao_sub {
  min-height: 395px; }
  .banner_daotao_sub > img {
    min-height: 395px; }

.list-box-tutorial .box-tutorial {
  padding: 10px 14px; }

.list-box-tutorial.active ul {
  padding: 0px;
  margin: 0px; }
  .list-box-tutorial.active ul li {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-bottom: 0px; }
    .list-box-tutorial.active ul li a {
      display: inline-block;
      padding: 9px 10px;
      width: 100%;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out; }
      .list-box-tutorial.active ul li a:hover {
        background: #fff;
        color: #000;
        font-weight: normal !important;
        border-radius: 5px; }
      .list-box-tutorial.active ul li a.active {
        color: #18A05F; }

#education_soft .edu_comment .item .content .evalute {
  font-size: 13px; }

#education_soft .edu_comment .item .content .sub_comment .sub_item h5 .time {
  font-size: 13px; }

.buy-soft .section-card__item:hover, .buy-soft .section-card__item:focus {
  transform: none; }

.section-card__header--log {
  position: relative;
  overflow: hidden; }
  .section-card__header--log .buy {
    position: absolute;
    top: 7px;
    left: 0;
    width: 90px; }

.section-card__header--code {
  position: relative;
  overflow: hidden; }
  .section-card__header--code .buy_more {
    position: absolute;
    top: 0;
    right: 30px;
    width: 50px; }

.software-page__content .box-free__detail img.root_more {
  display: none; }

.software-page__content .box-free__detail {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; }

.software-page__content .box-free__detail:hover {
  background-color: #18a05f;
  color: #fff; }
  .software-page__content .box-free__detail:hover .root_more {
    display: inline-block; }
  .software-page__content .box-free__detail:hover .root {
    display: none; }

.user-ketcausoft .section-clip-thematic__more a {
  margin-top: -11px;
  display: inherit; }
  .user-ketcausoft .section-clip-thematic__more a img {
    width: 6px; }

.section_change .thum img {
  width: 100%; }

.section_change .col-md-4 {
  margin-bottom: 20px; }

.section_change .text {
  margin-top: 15px; }
  .section_change .text h3 {
    font-size: 14px;
    font-weight: normal; }
    .section_change .text h3 a {
      color: #212529;
      transition: all 0.2s ease-in-out;
      text-transform: uppercase;
      -webkit-transition: all 0.2s ease-in-out; }
      .section_change .text h3 a:hover {
        color: #18a05f; }

.section-software__box__right__item p, .section-software__box__right__item a {
  color: #212529;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out; }
  .section-software__box__right__item p a, .section-software__box__right__item a a {
    color: #212529;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out; }
  .section-software__box__right__item p:hover, .section-software__box__right__item a:hover {
    color: #18a05f; }
    .section-software__box__right__item p:hover a, .section-software__box__right__item a:hover a {
      color: #18a05f; }

.book-page__head a, .book-page__card__body li a, .book-page__table-content__item a, .book-page__item a, .section-update .list-post__item__right h2 a {
  color: #212529;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; }
  .book-page__head a:hover, .book-page__card__body li a:hover, .book-page__table-content__item a:hover, .book-page__item a:hover, .section-update .list-post__item__right h2 a:hover {
    color: #18a05f; }

.book-page__card__body li a {
  display: inline-block;
  padding: 8px 0px; }

.book-page__card__item__right .card-item-label {
  margin-bottom: 0px;
  padding-top: 0px; }

.book-page__table-content__item a {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  line-height: 24px;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 20px; }

.section-update .list-post__item {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; }
  .section-update .list-post__item:hover {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px); }

.book-page__ref-title {
  font-size: 23px; }

#button_substrac {
  background: #c4c4c4;
  box-shadow: none;
  outline: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.section-feature .group-button button:first-child:hover {
  background-color: #0d4088; }

.section-feature .group-button button:nth-of-type(2):hover {
  background-color: #c3421f; }

.section-feature .group-button button.color-custom .img_hover {
  display: none; }

.section-feature .group-button button.color-custom:hover {
  background-color: #18a05f;
  color: #fff; }
  .section-feature .group-button button.color-custom:hover .img {
    display: none; }
  .section-feature .group-button button.color-custom:hover .img_hover {
    display: inline-block; }

.section-feature__item__list:nth-of-type(2n) {
  padding-left: 15px !important; }

.section-feature__item__list .group-button button:last-child:hover {
  background-color: #0c9051 !important;
  border-color: #0c9051 !important; }

.footer-icon .curent_hover {
  display: none; }

.footer-icon a:hover .curent {
  display: none; }

.footer-icon a:hover .curent_hover {
  display: inline-block; }

.banner_daotao_sub .context_datao .btn-sell .img_hover {
  display: none; }

.banner_daotao_sub .context_datao .btn-sell:hover {
  background: transparent;
  border: 1px solid #FD8100; }
  .banner_daotao_sub .context_datao .btn-sell:hover .img {
    display: none; }
  .banner_daotao_sub .context_datao .btn-sell:hover .img_hover {
    display: inline-block; }

.software-page .group-button .button-hotline {
  display: flex;
  align-items: center;
  border: 1px solid #fd8100 !important; }
  .software-page .group-button .button-hotline:hover {
    background: #df7504 !important; }

.software-page .group-button button.button-zalo:last-child {
  border: 1px solid #2aa3ff !important;
  background-color: #267ffd !important; }
  .software-page .group-button button.button-zalo:last-child:hover {
    background: #1061d1 !important; }

.buy-soft .section-card__hotline button {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; }
  .buy-soft .section-card__hotline button:hover {
    color: #fff;
    background-color: #147b4a; }

.buy-soft .section-card__button--online:hover {
  background-color: #0062cc; }

.section-card__button--code:hover {
  background-color: #d4a010 !important; }

.section-card__button--infinity:hover {
  background-color: #d26b00; }

.user-manual__left h3, .software-page__content h1 {
  font-size: 25px; }

.section-feature__item__list__active p {
  margin-bottom: 10px; }

.section-feature__item__list__box {
  padding: 35px 25px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  cursor: pointer; }
  .section-feature__item__list__box:hover {
    background-color: #18a05f;
    color: #fff; }

.examination-content .group-button button {
  border-radius: 30px;
  text-align: center;
  justify-content: center; }

.software-page .group-button button.btn-success .img_hover {
  display: none; }

.software-page .group-button button.btn-success:hover {
  background: #fff !important;
  color: #18a05f !important; }
  .software-page .group-button button.btn-success:hover .img {
    display: none; }
  .software-page .group-button button.btn-success:hover .img_hover {
    display: inline-block; }

.user-manual__left ul li a {
  display: inline-block;
  width: 100%; }
  .user-manual__left ul li a:hover {
    color: #18a05f !important; }

.software-page .group-button button.color-custom:last-child {
  background: #fff !important;
  border: 1px solid #18a05f !important; }
  .software-page .group-button button.color-custom:last-child .img_hover {
    display: none; }
  .software-page .group-button button.color-custom:last-child:hover {
    background: #18a05f !important;
    color: #fff; }
    .software-page .group-button button.color-custom:last-child:hover .img {
      display: none; }
    .software-page .group-button button.color-custom:last-child:hover .img_hover {
      display: inline-block; }

.btn.first {
  border: 1px solid #18a05f !important; }
  .btn.first .img_hover {
    display: none; }
  .btn.first:hover {
    background: #fff; }
    .btn.first:hover p {
      color: #18a05f !important; }
    .btn.first:hover .img {
      display: none; }
    .btn.first:hover .img_hover {
      display: inline-block; }

.btn.seconse .img_hover {
  display: none; }

.btn.seconse:hover {
  background: #18a05f !important; }
  .btn.seconse:hover p {
    color: #fff !important; }
  .btn.seconse:hover .img {
    display: none; }
  .btn.seconse:hover .img_hover {
    display: inline-block; }

.box-question-examination .btn-success:hover {
  background: #176529 !important; }

.group-bitt .btn-info:hover {
  background-color: #117a8b !important; }

.group-bitt .btn-success:hover {
  background: #176529 !important; }

@media screen and (min-width: 1000px) {
  header.navbar {
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0; }
  .menu_mobile {
    padding-top: 86px; } }

.book-page__search input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.book-page__search button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.mt--5 {
  margin-top: -5px; }
